.navbar {
    justify-content: space-between;
}

span {
    padding-right: 2rem;
}

mat-sidenav-container {
    height: 100%;
}

mat-sidenav, mat-sidenav-content {
    padding: 20px;
}

mat-sidenav{
    background-color: azure;
    width: 200px;
}

button{
    padding: 10px;
    padding-block-end: 10px;
    width: 100px;
}